<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/styles.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="./static/index.js"></script>
    <title>Order Received</title>
  </head>
  <body>
    <header>
      <a href="/">Tesla Online</a>
    </header>
    <div class="container">
      <h1>
        Thank you becoming a new merchant in Stripe shop
      </h1>
      <img src="https://thumbs.bfldr.com/at/9jmg9mbcgx5mwtfgzf6gsm?expiry=1653981732&fit=bounds&height=800&sig=Y2FkZWQ3NzkzZTkxMjk3NzBhZmIyZGViNmJjZWNiYzJkZTliNWJkZA%3D%3D&width=1100"/>
      <h3 class="confirm-message">
        Please check your email for more details on how to sell a product in Stripe online shop.
      </h3>
    </div>
  </body>
</html>
