@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

h2 {
  margin-top: 46px; 
  font-size: 20px;
}

header {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

header a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

label,
input {
  display: block;
  width: 100%;
  height: 48px;
}

input:focus {
  outline: none;
  border: 1px solid #2d9fdb;
}

label {
  font-size: 14px;
  margin-bottom: 34px;
}

label input {
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 6px 10px;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 2px;
}

label input::placeholder {
  color: #ccc;
}

.container {
  max-width: 440px;
  margin: 0 auto;
}

.well {
  max-width: 440px; 
  margin: 40px auto;
  background: rgb(0, 0, 0, 0.04);
  padding: 40px;
}

.is-hidden {
  display: none;
}

.alipay {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 8px 5px;
}

.alipay:hover,
.alipay.is-selected {
  border: 1px solid #2d9fdb;
}

.alipay input {
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.alipay-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.or {
  text-align: center;
  width: 100%;
  margin: 15px 0;
}

.order-summary {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-summary td {
  padding: 5px 0;
}

.order-summary tr td:last-child {
  text-align: right;
}

.order-summary tr:nth-child(2) td {
  padding-bottom: 20px;
}

.order-summary tr:last-child td {
  padding-top: 20px;
}

.order-summary tr:last-child td {
  border-top: 1px solid gray;
}

.error-message {
  display: none;
  margin: 0 0 14px;
  line-height: 1.3;
  color: #e66161;
}

.error-message.is-visible {
  display: block;
}

.submit-button {
  border: none;
  color: white;
  background: #2d9fdb;
  padding: 14px;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

.submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.submit-button[disabled="disabled"] {
  background: #84bada;
  opacity: 0.8;
  cursor: default;
}
