<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/styles.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <title>Checkout</title>
  </head>
  <body>
    <header>
      <a href="/">Tesla Owner details</a>
    </header>
    <div class="container">
      <h1>Checkout</h1>
    </div>
    <form class="checkout-form">
      <div class="container">
        <section>
          <h3>Contact Info</h3>
          <!-- Link Elements will create form elements here -->
          <div id="link-authentication-element"></div>
        </section>
        <section>
          <h3>Express Checkout</h3>
          <!-- Express Checkout Element will be inserted here -->
          <div id="express-checkout-element"></div>
        </section>
        <section>
          <h3>Payment</h3>
          <!--div class="payment-element-container"></div-->
            <div id="payment-element">
              <!-- Elements will create form elements here -->
            </div>
          </form>
        </section>
      </div>
      <div class="well">
        <div class="container">
          <table class="order-summary">
            <tr>
              <td>Subtotal</td>
              <td>$1000</td>
            </tr>
            <tr>
              <td>Delivery</td>
              <td>Free</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$1000</td>
            </tr>
          </table>
          <div class="error-message" role="alert"></div>
          <form id="payment-form">
            <button id="submit" type="submit" class="submit-button">Place order</button>
          </form>
        </div>
      </div>
    </form> 
    <script src="./static/index.js"></script>
  </body>
</html>