<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./static/styles.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="./static/index.js"></script>
    <title>Order Received</title>
  </head>
  <body>
    <header>
      <a href="/">Tesla Online</a>
    </header>
    <div class="container">
      <h1>
        Thank you purchasing your Tesla
      </h1>
      <img src="https://images.unsplash.com/photo-1538592116845-119a3974c958?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHRlc2xhfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60"/>
      <h3 class="confirm-message">
        Please check your email for a receipt.
      </h3>
    </div>
  </body>
</html>
